/* 
body {
  height: 100%;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
}


 */

 #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #37323E;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* .swiper {
  margin-left: 0px;
  margin-right: 0px;
  
} */

.center-slide {
    background-color: #2430A0;
    color: #ffffff;
}

/* .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 25%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 37%;
    top: 99%;
    background-color: #F4F7FA;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #2430A0;
} */

/* .swiper-button-next{
    left:40px;
     border: 2px solid #2430A0;
     padding: 20px;
} */

.mySwiper{
  background-color: #37323E;
  padding-bottom: 10px;
  margin-top: 85px;
}
.swiper swiper-initialized swiper-horizontal mySwiper swiper-backface-hidden{
  padding: 20px;
  margin: 0;
}
